---
layout: default
---

<div>

  <h1 class="post-header">Latest Ramblings</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y"}}
            {% assign words = post.content | number_of_words %}
            · {% include read-time.html  word_count = words %} min read · {% include categories.html %}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
