{% unless page.comments_locked == true %}
  <!-- Start new comment form -->
  <div id="respond">
    <header class="section-title">
      <h3>Leave a Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">Cancel reply</a></small></h3>
    </header>

    <form method="POST" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
      <input name="options[redirect]" type="hidden" value="https://www.windespair.com">

      <label for="comment-form-message"><strong>Comment</strong> <small>(<a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
      <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true"></textarea>

      <label for="comment-form-name"><strong>Name</strong></label>
      <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false">

      <label for="comment-form-email"><strong>Email</strong> <small>(optional)</small></label>
      <input type="email" id="comment-form-email" name="fields[email]" required spellcheck="false">

      <label for="comment-form-url"><strong>Website</strong> <small>(optional)</small></label>
      <input type="text" id="comment-form-url" name="fields[url]"/>

      <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
      <input name="options[slug]" type="hidden" value="{{ page.slug }}">

      <input type="submit" value="Send Comment">
    </form>
  </div>
{% else %}
  <p><em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="{{ site.url }}/contact/">contact me</a>.</em></p>
{% endunless %}
