<article class="comment {% if include.replying_to != 0 %}comment-reply{% endif %}">
  <h3 class="comment-author-name" id="comment-{{ include.index }}">
      {{ include.name }}
  </h3>

  <div class="comment-timestamp">
      <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%B %d, %Y' }}</time>
  </div>

  <div class="comment-content">
    {{ include.message | markdownify }}
  </div>

  {% unless include.replying_to != 0 or page.comments_locked == true %}
    <div class="comment-reply-link">
      <a rel="nofollow" href="#respond" onclick="set_replying_to_index({{include.index}}, '{{include.name}}', '{{include.message}}', '{{include.date}}')"> Reply to {{ include.name }}</a>
    </div>
  {% endunless %}
</article>

{% capture i %}{{ include.index }}{% endcapture %}
{% assign replies = site.data.comments[page.slug] | where_exp: 'item', 'item.replying_to == i' %}
{% for reply in replies %}
  {% assign index       = forloop.index | prepend: '-' | prepend: include.index %}
  {% assign r           = reply.replying_to %}
  {% assign replying_to = r | to_integer %}
  {% assign avatar      = reply.avatar %}
  {% assign email       = reply.email %}
  {% assign name        = reply.name %}
  {% assign url         = reply.url %}
  {% assign date        = reply.date %}
  {% assign message     = reply.message %}
  {% include comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message %}
{% endfor %}
