{% unless page.comments_locked == true %}

  {% assign url_path = page.permalink | replace: "/", "" %}
  {% if url_path == nil or url_path == empty %}
      {% assign url_path = page.slug %}
  {% endif %}

  <!-- Start new comment form -->
  <div id="respond">
    <header>
      <h3 class="center">What do you think? <small><a rel="nofollow" href="#respond" id="cancel-comment-reply-link" style="display:none;" onclick="cancel_reply()">Cancel reply</a></small></h3>

      <p id="comment-posted-success" style="display: none;">Thanks for your comment! It is <a href="https://github.com/GonzaloZiadi/windespair/pulls" rel="noopener" target="_blank">currently pending moderation</a> and will show on the site once approved.</p>

      <p id="replying-to-title-hidden-box" style="display: none;">Replying to:</p>
      <article class="comment" id="comment-reply-hidden-box" style="display: none;">
        <h3 class="comment-author-name" id="comment-author-name-reply-hidden-box"></h3>

        <div class="comment-timestamp" id="comment-timestamp-reply-hidden-box"></div>

        <div class="comment-content" id="comment-content-reply-hidden-box"></div>
      </article>
    </header>

    <form method="POST" action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">
      <input name="options[redirect]" type="hidden" value="https://www.windespair.com/{{ url_path }}/?success#respond">

      <label for="comment-form-message"><strong>Comment</strong> <small>(<a href="https://kramdown.gettalong.org/quickref.html">Markdown</a> is allowed)</small></label>
      <textarea type="text" rows="6" id="comment-form-message" name="fields[message]" required spellcheck="true"></textarea>

      <label for="comment-form-name"><strong>Name</strong></label>
      <input type="text" id="comment-form-name" name="fields[name]" required spellcheck="false">

      <label for="comment-form-email"><strong>Email</strong> <small>(optional)</small></label>
      <input type="email" id="comment-form-email" name="fields[email]" spellcheck="false">

      <label for="comment-form-url"><strong>Website</strong> <small>(optional)</small></label>
      <input type="text" id="comment-form-url" name="fields[url]"/>

      <input type="hidden" id="comment-replying-to" name="fields[replying_to]" value="">
      <input name="options[slug]" type="hidden" value="{{ url_path }}">

      <input type="submit" class="center" value="Send Comment">
    </form>
  </div>
{% else %}
  <p>
      <em>Comments are closed. If you have a question concerning the content of this page, please feel free to <a href="{{ site.url }}/contact/">contact me</a>.</em>
  </p>
{% endunless %}
