<div class="entry-comments">
  {% if site.repository and site.staticman.branch %}
    {% if site.data.comments[page.slug] %}
      <!-- Start static comments -->
      <div id="comments" class="js-comments">
        <header class="section-title">
          <h3>{% if site.data.comments[page.slug].size > 1 %}{{ site.data.comments[page.slug] | size | append: ' ' }}{% endif %}Comments</h3>
        </header>
        {% assign comments = site.data.comments[page.slug] %}
        before: {{site.data.comments[page.slug]}}
        after: {{site.data.comments.[page.slug]}}
        {% for comment in comments %}
          LMAO5 - {{ page.slug }}
          {% assign index       = forloop.index %}
          {% assign email       = comment.email %}
          {% assign name        = comment.name %}
          {% assign date        = comment.date %}
          {% assign message     = comment.message %}
          Index: {{index}} - Emai: {{email}} - Name: {{name}} - Date: {{date}} - Message: {{message}}
          {% include comment.html index=index email=email name=name date=date message=message %}
        {% endfor %}
      </div>
      <!-- End static comments -->
     {% endif %}

    {% include comment-form.html %}
  {% endif %}
</div>
