<div class="follow-buttons">
    <a class="follow-button" href="{{ '/feed.xml' | prepend: site.url }}" title="Feed" target="_blank">
        <img src="images/rss-16.png" alt="rss" class="center-follow-icon">
    </a>

    <a class="follow-button mar-left-10 mar-right-10" href="{{ '/categories' | prepend: site.url }}" title="Categories" target="_blank">
        <img src="images/menu-16.png" alt="categories" class="center-follow-icon">
    </a>

    <a class="follow-button center-icon-margin mar-right-10" href="https://github.com/GonzaloZiadi" title="Github" target="_blank">
        <img src="images/github-16.png" alt="github" class="center-follow-icon">
    </a>

    <a class="follow-button" href="https://twitter.com/gziadi" title="Twitter" target="_blank">
        <img src="images/twitter-16.png" alt="twitter" class="center-follow-icon">
    </a>
</div>
