<div class="follow-buttons">
    <a class="follow-button" href="{{ '/feed.xml' | prepend: site.url }}" title="Feed">
        <i class="sprite sprite-rss-16"></i>
    </a>

    <a class="follow-button" href="{{ '/categories' | prepend: site.url }}" title="Categories">
        <i class="sprite sprite-menu-16"></i>
    </a>

    <a class="follow-button center-icon-margin" href="https://github.com/GonzaloZiadi" title="Github">
        <i class="sprite sprite-github-16"></i>
    </a>

    <a class="follow-button" href="https://twitter.com/gziadi" title="Twitter">
        <i class="sprite sprite-twitter-16"></i>
    </a>
</div>
