<div class="follow-buttons">
    <a class="follow-button" href="{{ '/feed.xml' | prepend: site.url }}" title="Feed" target="_blank">
        <i class="sprite sprite-rss-16 center-follow-icon"></i>
    </a>

    <a class="follow-button mar-left-10 mar-right-10" href="{{ '/categories' | prepend: site.url }}" title="Categories" target="_blank">
        <i class="sprite sprite-menu-16 center-follow-icon"></i>
    </a>

    <a class="follow-button center-icon-margin mar-right-10" href="https://github.com/GonzaloZiadi" title="Github" target="_blank">
        <i class="sprite sprite-github-16 center-follow-icon"></i>
    </a>

    <a class="follow-button" href="https://twitter.com/gziadi" title="Twitter" target="_blank">
        <i class="sprite sprite-twitter-16 center-follow-icon"></i>
    </a>
</div>
