<header class="site-header">

    <nav class="site-nav">
        <a class="page-link" href="{{ site.baseurl }}">Home</a>
        <a class="page-link" href="{{ 'now' | prepend: site.baseurl }}">Now</a>
        <a class="page-link" href="{{ 'projects' | prepend: site.baseurl }}">Projects</a>
        <a class="page-link" href="{{ 'contact' | prepend: site.baseurl }}">Contact</a>
    </nav>

    {% unless page.title %}
        <div class="site-header-title">
            Hi, I'm Gonzalo.
        </div>
        <p class="site-header-description">I write and I code.</p>
        <p class="site-header-description">Find my ✍🏽 🔽 and my 👨‍💻 in the projects tab 🔼</p>

    {% endunless %}

    {% include color-bar.html %}
</header>
