<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="noodp" />

    {% seo title=false %}
    <title>
      {% if page.title %}
        {{ page.title }} | {{ site.title }}
      {% else %}
        {{ site.title }} | {{ site.description }}
      {% endif %}
    </title>

    {% if page.title %}
      <meta name="twitter:title" content="{{ page.title }} | {{ site.title }}">
    {% else %}
      <meta name="twitter:title" content="{{ site.title }} | {{ site.description }}">
    {% endif %}

    {% if page.image %}
      <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% endif %}

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?v=2">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} >> Feed" href="{{ "/feed.xml" | prepend: site.url }}">

    <style>
        {% capture css %}
            {% include main.scss %}
        {% endcapture %}
        {{ css | scssify }}
    </style>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119986129-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-119986129-1');
    </script>
</head>
