{% if include.img_class %}
  {% assign img_class = include.img_class %}
{% else %}
  {% assign img_class = "center-block" %}
{% endif %}

{% if include.figcaption_class %}
  {% assign figcaption_class = include.figcaption_class %}
{% else %}
  {% assign figcaption_class = "center-text subtle-figcaption" %}
{% endif %}

{% if include.absolute_img_src %}
  {% assign img_src = include.src %}
{% else %}
  {% assign img_src = "/images/" | append: include.src %}
{% endif %}

<figure>
  {% if include.img_link %}
    <a target="_blank" rel="noopener" href="{{ include.img_link }}">
  {% endif %}

  <img class="{{ img_class }}" src="{{ img_src }}" alt="{{ include.alt }}">

  {% if include.figcaption %}
    <figcaption class="{{ figcaption_class }}">{{ include.figcaption }}</figcaption>
  {% endif %}

  {% if include.img_link %}
    </a>
  {% endif %}
</figure>
