$base-font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;

$base-font-size:               18px;
$site-header-font-size:        52px;
$site-header-mobile-font-size: 44px;
$post-title-font-size:         42px;
$post-link-font-size:          24px;
$small-font-size:              $base-font-size * 0.875;
$mobile-font-size:             $base-font-size * 0.795;

$base-font-weight:             400;

$base-line-height: 1.6;
$title-line-height: 1.25;

$spacing-unit:     30px;

$text-color:               #333;
$brand-color:              {{site.color-1}};
$brand-secondary-color:    {{site.color-2}};
$white-color:              white;
$grey-color:               #828282;
$light-grey-color:         #EDEDED;
$lighter-grey-color:       #f7f7f7;
$warning-color:            #fcc419;
$input-border-color:       #d7d8da;
$input-border-color-focus: #393e46;

$on-palm:          599px;
$on-laptop:        800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "custom"
;
