<div id="signup">
    <header>
        <h3 id="signup-title">Get on the WinDespair email list</h3>
        <p id="signup-description">I'll shoot you an email when I post</p>
    </header>

    <form name="email-signup" netlify-honeypot="bot-field" action="thank-you" data-netlify="true">
        <input name="bot-field" hidden>

        <input type="email" id="signup-email" name="email" spellcheck="false" placeholder="yourname@example.com" required>

        <input type="submit" id="signup-submit" value="Sign up">
    </form>
</div>
