<div id="signup">
    <header>
        <h3 id="signup-title">Wanna stay in touch?</h3>
        <p id="signup-description">
            If so, consider signing up for my Saturday Letter. The question that drives me is: "How can we maximize our potential and be the best version of ourselves?" Every Saturday I send out a letter exploring this question. I talk about financial independence, life, happiness, minimalism, personal growth, and more. I think you'll like it.
        </p>
    </header>

    <form action="https://medium.us12.list-manage.com/subscribe/post?u=2f866c9dd49fc99706441a5be&amp;id=862cebff75" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <input name="bot-field" hidden>

        <input type="email" value="" id="mce-EMAIL" name="EMAIL" spellcheck="false" placeholder="🦊 says 'Enter your email'" required>

        <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" name="b_2f866c9dd49fc99706441a5be_862cebff75" tabindex="-1" value="">
        </div>

        <input type="submit" id="signup-submit" value="I'm in!">
    </form>
</div>
