/**
 * General
 */
.center-text {
  text-align: center;
}
.center-block {
  display: block;
  margin: 0 auto;
}
.green {
  color: $green-color;
}
.super {
  text-align: super;
}
ul, ol {
  margin-top: -$spacing-unit/2;
  margin-left: .25rem;

  @include media-query($on-palm) {
    margin-top: -$spacing-unit/4;
    margin-left: .125rem;
  }
}

/**
 * Figures, images
 */
.fig-col-2 {
  display: inline-block;
  width: 50%;
  margin-right: -.28em;
}
.emphasis-figcaption {
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px;
  font-size: 1rem;

  @include media-query($on-palm){
    font-size: $small-font-size;
    padding: 5px;
  }
}
.subtle-figcaption {
  color: $grey-color;
  font-size: $small-font-size;

  > a {
    color: $grey-color;
    text-decoration: underline;
  }
}

/**
 * Site header
 */
.site-header {
  > nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-transform: uppercase;
    font-size: .9rem;
    background: $brand-color;

    @include media-query($on-palm){
      flex-direction: column;
      align-items: center;
      overflow: hidden;
    }

    > #mobile-menu-toggle {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;

      &:checked ~ a {
        max-height: 80px;
      }

      &:checked ~ label {
        color: black;
      }
    }

    > a, label {
      color: white;

      &:hover {
        color: black;
      }
    }

    > label {
      cursor: pointer;
      display: none;

      @include media-query($on-palm){
        display: block;
      }
    }

    > a {
      &:not(:first-of-type) {
        margin-left: $spacing-unit;

        @include media-query($on-palm){
          margin-left: 0;
        }
      }

      @include media-query($on-palm){
        margin-left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
      }
    }
  }

  > div {
    padding: 45px 15px;

    @include media-query($on-palm){
      padding: 15px 15px;
    }

    p {
      margin: 0;
    }

    a {
     color: black;
     font-size: $site-header-font-size;
     font-weight: 600;
     opacity: 1;
     transition: opacity .25s ease-in-out;

     @include media-query($on-palm){
       font-size: $post-title-font-size;
     }

     &:hover {
       opacity: .5;
     }
   }
  }
}
.site-description {
  color: $site-description-color;
  opacity: 0.7;
  margin-bottom: 0px;
}

/**
 * Footer
 */
footer {
  background: $lighter-grey-color;
  color: $footer-text-color;
  padding: 20px 20px;

  > p {
    margin-bottom: 0px;
  }
}

/**
 * Page
 */
.page-content {
  margin: $spacing-unit auto;
  max-width: $default-page-width;

  @include media-query($on-palm){
    max-width: 100%;
    margin: $spacing-unit auto;
  }

  > article {
    padding: 0px $spacing-unit * 1.5;

    @include media-query($on-palm){
      padding: 0px $spacing-unit;
    }
  }
}

/**
 * Forms
 */
input:not([type='checkbox']), select, textarea {
  width: 100%;
  font-family: inherit;
  font-size: 100%;
  padding: 12px;
  border-radius: .25em;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border-color: $input-border-color;
  border-style: solid;
  border-width: 1px 1px 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.06);
  -webkit-appearance: none;
}
input:focus, select:focus, textarea:focus {
  border-color: $input-border-color-focus;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.06), 0 0 5px rgba(51,56,63,.7);
}
input[type=submit] {
  background-color: $brand-color;
  color: white;
  border-style: none;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
input[type=submit]:hover {
  background: #252626;
  transition: ease background .2s;
}

/**
 * Comments
 */
#respond {
  padding: 0px $spacing-unit * 1.5;

  @include media-query($on-palm){
    font-size: $small-font-size;
    padding: 0px $spacing-unit;
  }
}
#respond input[type=submit] {
  width: 10em;
}
#respond h3 {
  font-weight: 500;
}
.comment {
  background: rgba(0,0,0,0.01);
  border-left: 1px solid rgba(0,0,0,0.2);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 3% 2%;
}
.comment-reply {
  margin-left: 5%;
}
.comment-author-name {
  margin: .25em 0 .25em $spacing-unit/2;
  font-size: 1.25em;
  line-height: 1;
  display: inline-block;
}
.comment-author-name > a {
  color: $text-color;
}
.comment-timestamp {
  margin-left: $spacing-unit/2;
  font-size: .8em;
}
.comment-content {
  margin-top: 1em;
  margin-left: $spacing-unit/2;
}
.notify-me {
  margin-bottom: 15px;
}
.cancel-reply {
    text-decoration: underline;
    margin-left: 2.5%;
}
/* Site author specific */
.admin {
  .comment-author-name {
    box-shadow: inset 0 -0.25em 0 rgba($warning-color, 0.5);
  }
}

/**
 * Signup form
 */
#signup {
  border-top: 1px solid $signup-border-color;
  border-bottom: 1px solid $signup-border-color;
  padding: .5rem 8rem;
  border-radius: 0px;
  margin: 1.25rem $spacing-unit * 1.5;

  @include media-query($on-palm){
    font-size: $small-font-size;
    margin: 1.25rem $spacing-unit;
    padding: .5rem 0rem;
  }
}
#signup-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: $spacing-unit/2;
  margin-top: 0px;

  @include media-query($on-palm){
    font-size: 1.3em;
  }
}
#signup-description {
  font-size: .9rem;
  margin-bottom: $spacing-unit/2;
}
#mce-EMAIL {
  width: 70%;
  border-style: none;
  border-radius: 0px;
  background: #f2f6f9;
  box-shadow: none;
}
#signup-submit {
  width: 30%;
  display: inline-block;
  border-radius: 0px;
  font-weight: bold;
}

/**
 * Share buttons
 */
.share-buttons {
  display: flex;
  margin-bottom: $spacing-unit;

  @include media-query($on-palm) {
    margin-bottom: $spacing-unit-mobile;
  }
}
.share-button {
  width: 100%;
  height: 32px;
  margin-right: 2%;
  transition: all .1s linear;

  &:last-child {
    margin-right: 0px;
  }

  &#email {
    margin-right: 0px;

    @include media-query($on-palm){
       margin-right: 2%;
     }
  }

  &#whatsapp {
    display: none;

    @include media-query($on-palm){
       display: inline-block;
     }
  }

  &#reddit {
    @include media-query($on-palm){
       display: none;
     }
  }

  &:hover {
    width: 150%;
  }
}
#facebook {
  background: #3b5998;
}
#twitter {
  background: #429cd6;
}
#pinterest {
  background: #bd081c;
}
#reddit {
  background: #ff4500;
}
#linkedin {
  background: #0077b5;
}
#email {
  background: #6d6d6d;
}
#whatsapp {
  background: #25d366;
}

/**
* Sprites
*/
.sprite {
  background: url('/images/css-sprites.png') no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.sprite-calendar {
  vertical-align: text-top;
  background-position: 0px 0px;
}
.sprite-email {
  background-position: 0px -16px;
}
.sprite-facebook {
  background-position: 0px -32px;
}
.sprite-linkedin {
  background-position: 0px -48px;
}
.sprite-pinterest {
  background-position: 0px -64px;
}
.sprite-reddit {
  background-position: 0px -80px;
}
.sprite-stopwatch {
  vertical-align: text-top;
  background-position: 0px -96px;
}
.sprite-twitter {
  background-position: 0px -112px;
}
.sprite-user {
  vertical-align: text-top;
  background-position: 0px -128px;
}
.sprite-whatsapp {
  background-position: 0px -144px;
}

/**
 * Post
 */
.post-title {
  font-size: $post-title-font-size;

  @include media-query($on-palm) {
    font-size: $post-title-mobile-font-size;
  }
}

/**
 * Entry meta
 */
.tag-icon {
  vertical-align: sub;
  fill: $post-meta-color;
  margin-right: .2rem;
}
.post-meta {
  color: $post-meta-color;
  font-size: 0.75rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;

  a {
    color: $post-meta-color;

    &:hover {
      color: $post-meta-color-hover;
    }
  }
}

/**
* Homepage
*/
.post-summary-wrapper {
  padding: $spacing-unit $spacing-unit * 1.5;
  margin-bottom: $spacing-unit;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.15) 50%, transparent 100%);
  border-image-slice: 1;

  @include media-query($on-palm){
     padding: $spacing-unit/2 $spacing-unit;
   }
}
.post-summary {
  display: flex;
  align-items: center;
  padding: 0px $spacing-unit;

  @include media-query($on-palm){
     flex-direction: column;
     padding: 0px;
   }
}
.post-info, .post-image {
  flex: 1;
}
.post-info {
  p:last-child {
    margin-bottom: 0;
    margin-top: .9375rem;
    font-size: 1.0625rem;

    @include media-query($on-palm){
       font-size: .9375rem;
     }
  }

  @include media-query($on-palm){
    margin-top: $spacing-unit-mobile;
  }
}
.post-image {
  margin-right: $spacing-unit/2;

  > figure {
    margin-bottom: 0px;

    img {
      opacity: 1;
      transition: opacity .2s ease-in-out;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  @include media-query($on-palm){
    margin-right: 0px;
  }
}
.post-header {
  margin-bottom: .625rem;
}
.post-title-home {
  font-size: $post-title-home-font-size;
  margin-bottom: 0px;

  @include media-query($on-palm){
     font-size: $post-title-mobile-font-size;
   }
}

/**
 * Table
 */
table {
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  min-width: 100%;
  table-layout: fixed;

  @include media-query($on-palm){
    display: block;
    overflow-x: auto;
  }
}
table th, table td {
  padding: 8px;
  padding: 0.5rem;
  line-height: 1.5;
  vertical-align: top;
  border-top: 1px solid #ebebeb;
}

.related-posts {
  margin-left: 2rem;

  @include media-query($on-palm) {
    margin-left: 1rem;
  }
}

.info-block {
  background: rgba(0,0,0,.05);
  padding: 1.3rem;
  white-space: pre-wrap;
  margin-bottom: $spacing-unit;
  font-family: Courier, monospace;
  line-height: 1.4;

  a {
    color: $text-color;
    text-decoration: underline;
  }

  li {
    margin-bottom: 1rem;
  }

  > p:first-child {
    margin-bottom: 1rem;
  }

  > p {
    margin-bottom: 0px;
  }

  @include media-query($on-palm){
    margin-bottom: $spacing-unit-mobile;
  }
}
