<article class="comment {% if include.replying_to != 0 %}comment-reply{% endif %} {% if include.name == site.author-name %}admin{% endif %}">
  <h3 class="comment-author-name" id="comment-{{ include.index }}">
    {% unless include.url == '' %}
        <a rel="nofollow" href="http://{{ include.url }}" rel="noopener" target="_blank">{{ include.name }}</a>
    {% else %}
        {{ include.name }}
    {% endunless %}
  </h3>

  <div class="comment-timestamp">
    <a href="#comment{% if r %}{{ index | prepend: '-' }}{% else %}{{ include.index | prepend: '-' }}{% endif %}" class="permalink" title="Permalink to this comment"># </a>
    <time datetime="{{ include.date | date_to_xmlschema }}">{{ include.date | date: '%B %d, %Y' }}</time>
  </div>

  <div class="comment-content">
    {{ include.message | markdownify }}
  </div>

  {% unless include.replying_to != 0 or page.comments_locked == true %}
    <div class="comment-reply-link">
      <a rel="nofollow" href="#respond" onclick="set_replying_to_index({{include.index}}, '{{include.name}}', '{{include.message | markdownify}}', '{{include.date}}')"> Reply to {{ include.name }}</a>
    </div>
  {% endunless %}
</article>

{% capture i %}{{ include.index }}{% endcapture %}
{% assign replies = site.data.comments[include.url_path] | where_exp: 'item', 'item.replying_to == i' | sort: 'date' %}
{% for reply in replies %}
  {% assign index       = forloop.index | prepend: '-' | prepend: include.index %}
  {% assign replying_to = reply.replying_to | to_integer %}
  {% assign email       = reply.email %}
  {% assign name        = reply.name %}
  {% assign url         = reply.url %}
  {% assign date        = reply.date %}
  {% assign message     = reply.message %}
  {% include comments/comment.html index=index replying_to=replying_to email=email name=name url=url date=date message=message url_path=include.url_path %}
{% endfor %}
