---
layout: compress
---


<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        {{ content }}
    </div>
    {% include footer.html %}
    {% if site.analytics %}{% include analytics.html %}{% endif %}

    <script type="text/javascript">
        function set_replying_to_index(index) {
            var reply = document.getElementById("comment-replying-to");
            reply.value = index;
            console.log(reply.value);
        }
    </script>
  </body>

</html>
