---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <div class="entry-meta">
      {% include post-meta.html is_home="true" %}
    </div>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
  </header>

  <div class="post-content" itemprop="articleBody">
      {% if page.image %}
          <figure>
              <img class="center-image" src="/images/{{ page.image }}" alt="{{ page.image_alt }}">
              <figcaption class="center subtle-figcaption">{{ page.imageCreditsIntro }} <a href="{{ page.imageUrl }}">{{ page.imageCredits }}</a>{{ page.imageExtraCredits }}</figcaption>
          </figure>
      {% endif %}

      {% include share-buttons.html %}

      {{ content }}
  </div>
</article>

{% include share-buttons.html %}

{% include signup-form.html %}

{% if page.comments == true %}
    {% include comments/commentsAsHtml.html %}
{% endif %}
