---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y"}}</time>
        {% assign words = content | number_of_words %}
         &nbsp;· {% include read-time.html  word_count = words %} min read · {% include categories.html %}
    </p>
  </header>

  <div class="post-content" itemprop="articleBody">
      {% if page.image %}
          <figure>
              <img class="center-image" src="/images/{{ page.image }}" alt="{{ page.image_alt }}">
              <figcaption class="center subtle-figcaption">Photo from <a href="{{ page.imageUrl }}">{{ page.imageCredits }}</a>{{ page.imageExtraCredits }}</figcaption>
          </figure>
      {% endif %}

      {% include share-buttons.html %}

      {{ content }}
  </div>
</article>

{% include signup-form.html %}

{% if page.comments == true %}
    {% include comments/commentsAsHtml.html %}
{% endif %}
